<html>
    <body>
    <hr>
        <div class="container-fluid">
            <div class="row row-cols-5">
              <div class="col">
                  <div style="display: flex; justify-content: space-between;">
                    <span><strong>partner portal update </strong></span>
                    <button class=" dots btn btn-sm btn-light">...</button>
                  </div> 
                  <div style="display: flex; justify-content: space-between;">
                    <span><sub>Jan 31, 2020</sub></span>
                    <span><sub>showing 7 of 7</sub></span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar " role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <span><sub>capacity</sub></span>
                        <span><sub>30d</sub></span>
                      </div>
                      <div class="card  pink zoom">
                        <div class="card-body">
                            <span  style="display: flex; "><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class=" tags_btn btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class=" tags_btn btn btn-sm btn-primary">Touch</a>
                        </div>
                      </div>
                      <div class="card blue">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub "><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn tags_btn btn-sm btn-primary">Touch</a>
                        </div>
                      </div>
                      <div class="card pink">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn tags_btn btn-sm btn-primary">Touch</a>
                        </div>
                      </div>
                      <div class="card grey">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn  tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn tags_btn btn-sm btn-primary">Touch</a>
                        </div>
                      </div>
                      <div class="card green">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn  tags_btn btn-sm btn-primary">Touch</a>
                        </div>
                      </div>
                      <div class="card pink">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn  btn-primary">Touch</a>
                        </div>
                      </div>

              </div>
              <div class="col" >
                <div style="display: flex; justify-content: space-between;">
                    <span><strong>TEC at work Confernce</strong> </span>
                    <button class="dots btn btn-sm btn-light">...</button>
                  </div>
                  <div style="display: flex; justify-content: space-between;">
                    <span><sub>Feb 29, 2020</sub></span>
                    <span><sub>showing 6 of 6</sub></span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar " role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <span><sub>capacity</sub></span>
                        <span><sub>20d</sub></span>
                      </div>
                      <div class="card green">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn btn-primary">Touch</a>
                        </div>
                      </div>
                      <div class="card grey">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm  tags_btn btn-primary">Touch</a>
                        </div>
                      </div>
                      <div class="card blue">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn btn-primary">Touch</a>
                        </div>
                      </div>
                      <div class="card grey">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn btn-primary">Touch</a>
                        </div>
                      </div>
                      <div class="card pink">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn btn-primary">Touch</a>
                        </div>
                      </div>

                      <div class="card blue">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn btn-primary">Touch</a>
                        </div>
                      </div>
                      <div class="card grey">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn btn-primary">Touch</a>
                        </div>
                      </div>
              </div>
              <div class="col">
                <div style="display: flex; justify-content: space-between;">
                    <span><strong>Live  DashBoard</strong></span>
                    <button class="dots btn btn-sm btn-light">...</button>
                  </div>
                  <div style="display: flex; justify-content: space-between;">
                    <span><sub>Mar 31, 2020</sub></span>
                    <span><sub>showing 7 of 7</sub></span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar " role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <span><sub>capacity</sub></span>
                        <span><sub>30d</sub></span>
                      </div>
                      <div class="card green">
                        <div class="card-body">
                          <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                          <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn  btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn  btn-primary">Touch</a>
                        </div>
                      </div>
                      <div class="card blue">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn btn-primary">Touch</a>
                        </div>
                      </div>
                      <div class="card grey">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn btn-primary">Touch</a>
                        </div>
                      </div>
                      <div class="card pink">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn btn-primary">Touch</a>
                        </div>
                      </div>
                      <div class="card blue">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn  btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn btn-primary">Touch</a>
                        </div>
                      </div>
                      <div class="card grey">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn btn-primary">Touch</a>
                        </div>
                      </div>

              </div>
              <div class="col">
                <div style="display: flex; justify-content: space-between;">
                    <span><strong>In progress</strong></span>
                    <button class=" dots btn btn-sm btn-light">...</button>
                  </div>
                  <div style="display: flex; justify-content: space-between;">
                    <span><sub>Nov 31, 2020</sub></span>
                    <span><sub>showing 7 of 7</sub></span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar " role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <span><sub>capacity</sub></span>
                        <span><sub>30d</sub></span>
                      </div>
                      <div class="card blue">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn btn-primary">Touch</a>
                        </div>
                      </div>
                      <div class="card pink">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn btn-primary">Touch</a>
                        </div>
                      </div>
                      <div class="card green">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn btn-primary">Touch</a>
                        </div>
                      </div>
                      <div class="card grey">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn btn-primary">Touch</a>
                        </div>
                      </div>
                      <div class="card pink">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn btn-primary">Touch</a>
                        </div>
                      </div>

              </div>
              <div class="col">
                <div style="display: flex; justify-content: space-between;">
                    <span><strong>completed</strong></span>
                    <button class=" dots btn btn-sm btn-light">...</button>
                  </div>
                  <div style="display: flex; justify-content: space-between;">
                    <span><sub>Jan 31, 2020</sub></span>
                    <span><sub>showing 7 of 7</sub></span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar " role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <span><sub>capacity</sub></span>
                        <span><sub>30d</sub></span>
                      </div>
                      <div class="card grey">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn btn-primary">Touch</a>
                        </div>
                      </div>
                      <div class="card blue">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn btn-primary">Touch</a>
                        </div>
                      </div><div class="card green">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn btn-primary">Touch</a>
                        </div>
                      </div><div class="card grey">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn  btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn btn-primary">Touch</a>
                        </div>
                      </div><div class="card blue">
                        <div class="card-body">
                            <span  style="display: flex;"><h6 class="card-title"><i class="fas fa-user"></i> FRED-15 &nbsp;&nbsp; </h6><span class="sub_title" style="display: flex;"><i class="fas text-warning fa-network-wired"></i> &nbsp; <i class="fas fa-info-circle">&nbsp;30</i>  &nbsp; <i class="fas fa-clock">&nbsp;20</i></span></span>
                            <div class="row" style="display: flex;">
                            <span class=" col card-text text-info"><small>Signup Page</small></span>
                            <div class="col status_sub"><small>New</small></div>
                          </div>
                          
                          <div><sub>Ready to develop</sub></div>
                          <a href="#" class="btn tags_btn btn-sm btn-success">patterns</a> <a href="#" style="margin-left: 5px;" class="btn btn-sm tags_btn btn-primary">Touch</a>
                        </div>
                      </div>
              </div>
            </div>
          </div>
    </body>
</html>
